.forgot_pw {
  background-image: url('../img/other/forgot_bg.jpg');
  background-size: cover;
  background-position: center;
  padding:50px 0;
}

.forgot_content {
  display: flex;
  width:1000px;
  overflow: hidden;
  border-radius: 10px;
  margin:0 auto;
}

.forgot_banner{
  width:35%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image:url('../img/register/banner_bg.jpg');
  background-size: cover;
  background-position: center;
  padding:40px 0;
  box-shadow: 2px 0 5px black;
}

.forgot_logo{
  width:250px;
}

.forgot_description{
  color:grey;
  margin:0;
  font-size: 13px;
  margin-top: auto;
  width:80%;
}

.register_link{
  background: black;
  color:var(--color2);
  font-size: 14px;
  padding:5px 0;
  width:100%;
  text-align: center;
  margin-top: auto;
}

.forgot_form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:30px 0 50px 0;
  background: rgba(0, 0, 0, 0.5);
}

.forgot_header{
  background: var(--gradient1_180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  margin-bottom: 40px;
}

.input_container {
  margin-bottom: 15px;
}

.input_content {
  display: flex;
  align-items: center;
  position: relative;
}

.input_label {
  color: grey;
  min-width: 130px;
  font-size: 15px;
}

.input_content input, .input_content select {
  background: none;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-bottom: solid 1px #c0bfaa;
  transition: 0.2s;
  min-width: 300px;
  box-sizing: content-box;
}

.input_content input:focus, .input_content select:focus {
  background: white;
  border: none;
  color: black;
  outline: none;
}

.phone_input {
  display: flex;
  align-items: flex-end;
  width: 320px;
}

.phone_input select {
  min-width: 60px;
  padding: 5px 0;
  margin-right: 20px;
}

.phone_input input {
  min-width: 200px !important;
  width: 100%;
}

.forgot_content .form_btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.forgot_content .reset_btn, .forgot_content .submit_btn{
  margin-left: 10px;
}
